name: package-extension

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Package
        run: |
          chmod +x scripts/package.sh
          ./scripts/package.sh

      - name: Upload package to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: meej-web-ext.zip
          tag: ${{ github.ref }}
